{
  admin off
}

portainer.home.arpa {
  tls internal
  reverse_proxy https://portainer:9443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

status.home.arpa {
  tls internal
  reverse_proxy uptime-kuma:3001
}
